

html {
    font size:15px

}
body{
    background-color: tan;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
header{
    font-size:x-large;
    display: flex;   
    justify-content: space-between;
    padding-top: even;
}
.link-bar{
    display:flex
}
.link-bar a {
    justify-content: space-evenly;
    padding: 25px;
}
.hero {
    display:behind;
    background-image: url("images/20170522_174550_Original.jpg")
    display:
}
.banner {
    color: azure;
    font-size: 35px;
    justify-content:end
}
#about-me{
    font-size: 35px;
}
#work{
    font-size: 35px;
}
#contactme{
    font-size: 35px;
}
#resume{
    font-size: 35px;
}
p {
    font-size: 30px;
    color:firebrick
}
img{
   height: 175px;
   width: 215px;
   flex-wrap: wrap;
   padding: 25pxpx;
}
a {
    font-size: 25px;
    justify-content: space-evenly;
    justify-content: end;
    padding: 25px;
    padding-bottom: even;

}




