header{
    display: flex;
    justify-content: space-between;
    color:white;
    flex-wrap: wrap;
}
.divhero{
    
}
.profileImg{
    width: 90%;
    height: 50%;
    border-radius: 80%;
}
.name{
    padding:20px;
    font-size: 60px;
    background-color:black;
    color:azure;
    flex:1 0 auto;
    opacity: 85%;
}
.box{
    margin-bottom: 50px;
}
.link-bar{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    background-color: black;
    font-size: 30px;
    color:whitesmoke;
}
.banner{
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
    padding:20px;
    border-radius: 10px;
    opacity: 80%;
    color:floralwhite;
    background: black;
    height: 90px;
}
a{
    text-decoration: none;
    font-size:40px;
    color:aqua
}
.name{
    justify-content: left;
    flex-direction: left;
}
p{
    color:#eee;
    font-size: 35px;
}
.hero{
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    overflow: hidden;
    /*background-image: url("images/ems:vol:imgs/20170522_174351_Original.jpeg"); */
    background-image: url("images/20170522_174550_Original.jpg");
    width: 80%;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
}
.center-description{
    color: black;
    font-size:48px;
    font-weight: bold;
}
nav{
    font-size: 3px;
    color:white
}
body{
    background-color:rgb(2, 49, 65);
}
nav{
    font-size: 35px;
    color:black;
}
footer{
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
    padding: 20px;
    border-radius: 10px;
    color:whitesmoke;
    background:black;
    justify-content: space-evenly;
}
img{
    width: 30%;
    height: 30%;
    padding-right: 20px;
    margin-left: 0;
}
/* .allimages{
    display:flex;
    justify-content: center; 
    align-items: center;
    flex-wrap:wrap;
}  */
.cirlceimage{
    border-radius: 80%;
}