header{
    display: flex;
    justify-content: space-between;
    color:white;
    flex-wrap: wrap;
}

.profile-photo{
    width: 10%;
    height: 10%;
}

.name{
    padding:20px;
    font-size: 50px;
    background-color:black;
    color:ghostwhite;
    flex:1 0 auto;
}

.box{
    margin-bottom: 50px;
}

.link-bar{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    background-color: black;
    font-size: 30px;
    color:whitesmoke;
}

a{
    text-decoration: none;

}

.banner{
    display: flex;
    justify-content: flex-end;
    font-size: 45px;
    padding:25px;
    border-radius: 10px;
    opacity: 65%;
    color:whitesmoke;
    background: black;
    height: 100px;
}

a{
    font-size: 30px;
    color:grey
}

.name{
    justify-content: left;
    flex-direction: left;

}

p{
    color:#eee;
    font-size: 25px;
}


.hero{
    display: flex;
    /* justify-content: flex-end; */
    /* align-items: flex-end; */
    overflow: hidden;
    background-image: url("images/ems:vol:imgs/20170522_174351_Original.jpeg");
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: center;
    place-content: behind;
}
.center-description{
    color: black;
    font-size: 36px;
    font-weight: bold;
}

nav{
    font-size: 3px;
    color:white
}
body{
    background-color:darkslategray;
}
nav{
    font-size: 35px;
    color:black;
}
footer{
    display: flex;
    justify-content: flex-end;
    font-size: 60px;
    padding: 20px;
    border-radius: 10px;
    color:whitesmoke;
    background:black;
    justify-content: space-evenly;
}

img{
    width: 110%;;
    padding-right: 20px;
    margin-left: 0;
}

.allimages{
    display:flex;
    justify-content: center; 
    align-items: center;
    flex-wrap:wrap;
} 

.image {
    width:15%;
    height:15%;
} 
.cirlceimage{
    border-radius: 80%;
}